**/__pycache__
**/.pytest_cache
**/*.pyc
backend/.env
backend/db.sqlite3
backend/media
backend/tools
backend/.pytest_cache
node_modules
frontend/node_modules
frontend/dist
admin/node_modules
admin/dist
mobile
.git
.github
.pytest_cache
docs
*.md
!README.md
db.sqlite3
