# Backend
backend/db.sqlite3
backend/media/
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/.pytest_cache/
backend/tools/

# Frontend staff
frontend/node_modules/
frontend/dist/

# Console admin
admin/node_modules/
admin/dist/

# Mobile
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins-dependencies

# Global
.env
*.pyc
.DS_Store
db.sqlite3
node_modules/
